<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv = "X-UA-Compatible" content="IE=edge,chrome=1"/>
	<meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
	<title>电影院</title>
</head>
<body>
	<div class="swiper-container">
		<div class="swiper-wrapper">
			<div class="swiper-slide"><img src="${require('../img/banner.png')}" width="100%" height="100%"/></div>
			<div class="swiper-slide"><img src="${require('../img/banner.png')}" width="100%" height="100%"/></div>
			<div class="swiper-slide"><img src="${require('../img/banner.png')}" width="100%" height="100%"/></div>
		</div>
		<div class="swiper-pagination"></div>
	</div>
	<div class="movie-container">
		<div class="top-title">
			<div class="fl">热映电影</div>
			<div class="fr">
				<label>全部</label>
				<span class="icon arrow-right"></span>
			</div>
		</div>
		<div class="mui-flex movie-wraper">
			<div class="cell pic">
				<img src="${require('../img/movie01.png')}" alt="" width="100%" height="100%">
				<span>3D</span>
				<p>
					<label>8.6</label>
					变形金刚5：最后的战士变形金刚5：最后的战士
				</p>
			</div>
			<div class="cell mui-flex">
				<div class="cell mui-flex">
					<div class="cell pic">
						<img src="${require('../img/movie02.png')}" alt="" width="100%" height="100%">
						<span>3D</span>
						<p><label>8.6</label>加勒比海盗5</p>
					</div>
					<div class="cell pic">
						<img src="${require('../img/movie03.png')}" alt="" width="100%" height="100%">
						<span>3D</span>
						<p><label>7.6</label>神奇女侠</p>
					</div>
				</div>
				<div class="cell mui-flex">
					<div class="cell pic">
						<img src="${require('../img/movie04.png')}" alt="" width="100%" height="100%">
						<span>3D</span>
						<p><label>8.7</label>异形：契约</p>
					</div>
					<div class="cell pic">
						<img src="${require('../img/movie05.png')}" alt="" width="100%" height="100%">
						<span>3D</span>
						<p><label>7.6</label>雄狮</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="theater-container">
		<div class="top-title">
			<div class="fl">推荐影院</div>
			<div class="fr">
				<label>全部</label>
				<span class="icon arrow-right"></span>
			</div>
		</div>
		<div class="theater-wraper">
			<div class="mui-flex theater-list">
				<div class="cell">
					<p>金球国际电影院</p>
					<p>江南大道1090号中南购物中心家具大世界3楼</p>
				</div>
				<div class="fr">
					<p class="price"><label>2.8</label>元起</p>
					<p>2.4km</p>
				</div>
			</div>
			<div class="mui-flex theater-list">
				<div class="cell">
					<p>金球国际电影院</p>
					<p>江南大道1090号中南购物中心家具大世界3楼</p>
				</div>
				<div class="fr">
					<p class="price"><label>2.8</label>元起</p>
					<p>2.4km</p>
				</div>
			</div>
			<div class="mui-flex theater-list">
				<div class="cell">
					<p>金球国际电影院</p>
					<p>江南大道1090号中南购物中心家具大世界3楼</p>
				</div>
				<div class="fr">
					<p class="price"><label>2.8</label>元起</p>
					<p>2.4km</p>
				</div>
			</div>
		</div>
	</div>
	<div class="footer">
		<div class="mui-flex">
			<div class="cell">
				<span class="icon bom-icon"></span>
				<p>预订须知</p>
			</div>
			<div class="cell">
				<span class="icon bom-icon2"></span>
				<p>我的影票</p>
			</div>
		</div>
	</div>
</body>
</html>